.card {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.5rem);
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    max-width: 300px;
    height: 270px;
}

.h1 {
    font-size: 16px;  
    font-weight: 600;  
    font-style: bold;
    color: black;
    text-align: left;
}

.p {
    font-size: 14px;
    font-style: regular;
    color: gray;
    text-align: left;
    ;
}

.icon {
    color: #7c3aed;
    background-color: lightblue;
    padding: 8px;
    border-radius: 10px;
}
