.card {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.05);
    gap: 10px;
    max-width: 300px;
    height: 270px;
}

.h1 {
    font-size: 16px;  
    font-weight: 600;  
    font-style: bold;
    color: black;
    text-align: left;
}

.p {
    font-size: 14px;
    font-style: regular;
    color: gray;
    text-align: left;
    ;
}

.icon {
    color: #7c3aed;
    background-color: lightblue;
    padding: 8px;
    border-radius: 10px;
}
